$font-stack: Helvetica, sans-serif;
$font-size-title: 1rem;
$margin: 1rem 0 2rem 0;
$primary-color: #d3d04f;
$secondary-color: #0a6ebd;
$tertiary-color: #606c5d;
$disabled-color: #a7a9be;
$easy-background-color: #eaeaf2;

body {
  font: 100% $font-stack;
}
