@import '_base';

.mpu_notification {
  background-color: $secondary-color;
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem auto;
}

.mpu_notification h2 {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 1rem auto;
  color: whitesmoke;
}

.informative_message {
  background-color: $easy-background-color;
  width: 60%;
  display: flex;
  flex-direction: column;
  margin: 2rem auto;
  padding: 0 3rem;
}

.mpu_button_admin_lg {
  background-color: $secondary-color;
  color: whitesmoke;
  border: none;
  border-radius: 5px;
  padding: 1rem 2rem;
  margin: 1rem auto;
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
}

.mpu_button_admin_lg:hover {
  background-color: $tertiary-color;
  opacity: 0.5;
  color: whitesmoke;
}

.mpu_button_container {
  width: 100%;
  height: 5rem;
  display: flex;
  align-self: right;
}

.mpu_button_admin_md {
  background-color: $secondary-color;
  color: whitesmoke;
  border: none;
  border-radius: 5px;
  padding: 1rem 2rem;
  margin: 1rem auto;
  font-size: 1rem;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
}

.mpu_button_admin_md:hover {
  background-color: $tertiary-color;
  opacity: 0.5;
  color: whitesmoke;
}

.mpu_button_admin_sm {
  background-color: $secondary-color;
  color: whitesmoke;
  border: none;
  border-radius: 5px;
  padding: 1rem 2rem;
  margin: 1rem auto;
  font-size: 0.8rem;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
}

.mpu_button_admin_sm:hover {
  background-color: $tertiary-color;
  opacity: 0.5;
  color: whitesmoke;
}

.mpu_thanks {
  background-color: $easy-background-color;
  width: 90%;
  display: block;
  margin: 2rem auto 4rem auto;
  padding: 0 3rem;
}

.mpu_thanks p {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 1rem auto;
  color: $tertiary-color;
}

.mpu_message_no_popup {
  background-color: $easy-background-color;
  display: block;
  margin: 2rem auto 4rem 2rem;
  padding: 0 3rem;
}
